################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-ws/CoinApi.WEBSOCKET/.vs/CoinApi.WEBSOCKET/v16
.idea
**/target

# Visual Studo 2015 cache/options directory
.vs/