[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
NonStopSession=Y
UseDataDictionary=Y
ValidateFieldsOutOfOrder=N
DataDictionary=FIX44.xml
#SocketConnectHost=fix-sandbox.coinapi.io
SocketConnectHost=fix.coinapi.io
SocketConnectPort=3303
SSLEnable=Y
#SSLServerName=fix-sandbox.coinapi.io
SSLServerName=fix.coinapi.io
SSLValidateCertificates=Y
SSLCheckCertificateRevocation=Y
LogoutTimeout=5
ResetOnLogon=Y

[SESSION]
BeginString=FIX.4.4
SenderCompID=YOUR_API_KEY_HERE
TargetCompID=COINAPI_V2
HeartBtInt=10
