[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
NonStopSession=Y
UseDataDictionary=Y
ValidateFieldsOutOfOrder=N
DataDictionary=FIX44.xml
SocketConnectHost=89.187.179.133
#SocketConnectHost=hdc1-enc-02-bay-04.bbxt.svisstack.com
#SocketConnectHost=fix-us-east.coinapi.io
SocketConnectPort=3302
SSLEnable=N
LogoutTimeout=5
ResetOnLogon=Y

[SESSION]
BeginString=FIX.4.4
#SenderCompID=5E180692-7AEA-4D6B-992D-B9FBDA9D8995
SenderCompID=E59434DF-E8E6-4BC2-993B-04FDD5C8D7E8
TargetCompID=COINAPI_V2
HeartBtInt=10
