/**
 * OnChain API
 *  This section will provide necessary information about the `OnChain API` protocol.  <br/><br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                             
 *
 * The version of the OpenAPI document: v1
 * Contact: support@coinapi.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PairDTO
import org.openapitools.client.model.SwapDTO
import org.openapitools.client.model.TokenDTO
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SushiswapApi {

  def apply(baseUrl: String = "https://onchain.coinapi.io") = new SushiswapApi(baseUrl)
}

class SushiswapApi(baseUrl: String) {

  /**
   * Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
   * 
   * Expected answers:
   *   code 200 : Seq[PairDTO] (successful operation)
   * 
   * @param chainId Chain id
   */
  def chainsChainIdDappsSushiswapPoolsCurrentGet(chainId: String): ApiRequest[Seq[PairDTO]] =
    ApiRequest[Seq[PairDTO]](ApiMethods.GET, baseUrl, "/chains/{chain_id}/dapps/sushiswap/pools/current", "application/json")
      .withPathParam("chain_id", chainId)
      .withSuccessResponse[Seq[PairDTO]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SwapDTO] (successful operation)
   * 
   * @param chainId Chain id
   */
  def chainsChainIdDappsSushiswapSwapsCurrentGet(chainId: String): ApiRequest[Seq[SwapDTO]] =
    ApiRequest[Seq[SwapDTO]](ApiMethods.GET, baseUrl, "/chains/{chain_id}/dapps/sushiswap/swaps/current", "application/json")
      .withPathParam("chain_id", chainId)
      .withSuccessResponse[Seq[SwapDTO]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[TokenDTO] (successful operation)
   * 
   * @param chainId Chain id
   */
  def chainsChainIdDappsSushiswapTokensCurrentGet(chainId: String): ApiRequest[Seq[TokenDTO]] =
    ApiRequest[Seq[TokenDTO]](ApiMethods.GET, baseUrl, "/chains/{chain_id}/dapps/sushiswap/tokens/current", "application/json")
      .withPathParam("chain_id", chainId)
      .withSuccessResponse[Seq[TokenDTO]](200)
      



}

