openapi: 3.0.1
info:
  contact:
    email: support@coinapi.io
    name: COINAPI LTD
    url: https://www.coinapi.io
  description: "\nThis section will provide necessary information about the `OnChain\
    \ API` protocol. \n<br/><br/>\nLorem Ipsum is simply dummy text of the printing\
    \ and typesetting industry. Lorem Ipsum has been the industry's standard dummy\
    \ text ever since the 1500s, when an unknown printer took a galley of type and\
    \ scrambled it to make a type specimen book. It has survived not only five centuries,\
    \ but also the leap into electronic typesetting, remaining essentially unchanged.\
    \ It was popularised in the 1960s with the release of Letraset sheets containing\
    \ Lorem Ipsum passages, and more recently with desktop publishing software like\
    \ Aldus PageMaker including versions of Lorem Ipsum.        \n               \
    \     "
  license:
    name: MIT License
    url: https://github.com/coinapi/coinapi-sdk/blob/master/LICENSE
  title: OnChain API
  version: v1
servers:
- url: https://onchain.coinapi.io
tags:
- description: Sushiswap tag descriptor ...
  name: Sushiswap
- description: UniswapV2 tag descriptor ...
  name: UniswapV2
- description: UniswapV3 tag descriptor ...
  name: UniswapV3
paths:
  /chains/{chain_id}/dapps/sushiswap/swaps/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/SwapDTO'
                type: array
          description: successful operation
      summary: GetSwaps
      tags:
      - Sushiswap
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/batch/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Batch
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/bundle/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/BundleV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BundleV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BundleV3DTO'
                type: array
          description: successful operation
      summary: GetBundles
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/bundles/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Bundles
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/bundles/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Bundles
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/bundles/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Bundles
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/burns/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Burns
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/burns/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Burns
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/burns/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Burns
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/burns/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/BurnV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BurnV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BurnV3DTO'
                type: array
          description: successful operation
      summary: GetBurns
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/dayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - DayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/tokens/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Deposit
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/factory/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Factory
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/factory/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Factory
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/factory/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Factory
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/factory/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/FactoryV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FactoryV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/FactoryV3DTO'
                type: array
          description: successful operation
      summary: GetFactory
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/hourData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - HourData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/liquidityPosition/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - LiquidityPosition
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/liquidityPosition/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - LiquidityPosition
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/liquidityPositionSnapshots/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - LiquidityPositionSnapshots
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/liquidityPositionSnapshots/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - LiquidityPositionSnapshots
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/mints/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Mints
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/mints/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Mints
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/mints/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Mints
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/mints/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/MintV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MintV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/MintV3DTO'
                type: array
          description: successful operation
      summary: GetMints
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/orders/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Orders
      x-accepts: application/json
  /chains/{chain_id}/dapps/cow/orders/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Orders
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/poi/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Poi
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/poi/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Poi
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/poi/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Poi
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/poi/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Poi
      x-accepts: application/json
  /chains/{chain_id}/dapps/cow/poi/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Poi
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/poolDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PoolDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/poolDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PoolDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/poolDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PoolDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/poolHourData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PoolHourData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/poolHourData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PoolHourData
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/poolHourData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PoolHourData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/pools/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Pools
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/pools/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Pools
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/pools/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Pools
      x-accepts: application/json
  /chains/{chain_id}/dapps/curve/pools/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Pools
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/pools/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PoolV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PoolV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PoolV3DTO'
                type: array
          description: successful operation
      summary: GetPools
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/pools/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PairV2DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PairV2DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PairV2DTO'
                type: array
          description: successful operation
      summary: GetPools
      tags:
      - UniswapV2
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/pools/current:
    get:
      description: Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since
        the 1500s.
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PairDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PairDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PairDTO'
                type: array
          description: successful operation
      summary: GetPools
      tags:
      - Sushiswap
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/poolsDayData/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PoolDayDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PoolDayDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PoolDayDataV3DTO'
                type: array
          description: successful operation
      summary: GetPoolsDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/poolsHourData/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PoolHourDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PoolHourDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PoolHourDataV3DTO'
                type: array
          description: successful operation
      summary: GetPoolsHourData
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/positions/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Positions
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/positions/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PositionV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PositionV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PositionV3DTO'
                type: array
          description: successful operation
      summary: GetPositions
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/positionSnapshot/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - PositionSnapshot
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/positionSnapshots/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/PositionSnapshotV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PositionSnapshotV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PositionSnapshotV3DTO'
                type: array
          description: successful operation
      summary: GetPositionSnapshot
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/prices/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Prices
      x-accepts: application/json
  /chains/{chain_id}/dapps/cow/settlement/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Settlement
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/solution/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Solution
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/stats/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Stats
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/swaps/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Swaps
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/swaps/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Swaps
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/swaps/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Swaps
      x-accepts: application/json
  /chains/{chain_id}/dapps/curve/swaps/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Swaps
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/swaps/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/SwapV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SwapV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/SwapV3DTO'
                type: array
          description: successful operation
      summary: GetSwaps
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/swaps/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/SwapV2DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SwapV2DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/SwapV2DTO'
                type: array
          description: successful operation
      summary: GetSwaps
      tags:
      - UniswapV2
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tickDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - TickDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/ticks/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Ticks
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/ticks/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TickV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TickV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TickV3DTO'
                type: array
          description: successful operation
      summary: GetTicks
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/ticksDayData/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TickDayDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TickDayDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TickDayDataV3DTO'
                type: array
          description: successful operation
      summary: GetTicksDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tokenDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - TokenDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/tokenDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - TokenDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/tokenDayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - TokenDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tokenHourData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - TokenHourData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tokens/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Tokens
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/tokens/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Tokens
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/tokens/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Tokens
      x-accepts: application/json
  /chains/{chain_id}/dapps/curve/tokens/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Tokens
      x-accepts: application/json
  /chains/{chain_id}/dapps/cow/tokens/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Tokens
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tokens/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter_token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV3DTO'
                type: array
          description: successful operation
      summary: GetTokens
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/tokens/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV2DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV2DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV2DTO'
                type: array
          description: successful operation
      summary: GetTokens
      tags:
      - UniswapV2
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/tokens/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenDTO'
                type: array
          description: successful operation
      summary: GetTokens
      tags:
      - Sushiswap
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tokensDayData/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter_token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV3DayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV3DayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenV3DayDataDTO'
                type: array
          description: successful operation
      summary: GetTokensDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/tokensHourData/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter_token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/TokenHourDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenHourDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenHourDataV3DTO'
                type: array
          description: successful operation
      summary: GetTokensHourData
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/dex/trades/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Trades
      x-accepts: application/json
  /chains/{chain_id}/dapps/cow/trades/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Trades
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/transactions/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Transactions
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/transactions/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Transactions
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/transactions/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Transactions
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/dayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/dayData/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapDayData
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv3/uniswapDayData/current:
    get:
      parameters:
      - description: Chain id
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapDayDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapDayDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapDayDataV3DTO'
                type: array
          description: successful operation
      summary: GetUniswapDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /chains/{chain_id}/dapps/uniswapv2/users/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Users
      x-accepts: application/json
  /chains/{chain_id}/dapps/sushiswap/users/historical:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
[...]
