openapi: 3.0.1
info:
  contact:
    email: support@coinapi.io
    name: COINAPI LTD
    url: https://www.coinapi.io
  description: "\nThis section will provide necessary information about the `OnChain\
    \ API` protocol. \n<br/><br/>\nLorem Ipsum is simply dummy text of the printing\
    \ and typesetting industry. Lorem Ipsum has been the industry's standard dummy\
    \ text ever since the 1500s, when an unknown printer took a galley of type and\
    \ scrambled it to make a type specimen book. It has survived not only five centuries,\
    \ but also the leap into electronic typesetting, remaining essentially unchanged.\
    \ It was popularised in the 1960s with the release of Letraset sheets containing\
    \ Lorem Ipsum passages, and more recently with desktop publishing software like\
    \ Aldus PageMaker including versions of Lorem Ipsum.        \n               \
    \     "
  license:
    name: MIT License
    url: https://github.com/coinapi/coinapi-sdk/blob/master/LICENSE
  title: OnChain API
  version: v1
servers:
- url: https://onchain.coinapi.io
tags:
- description: Sushiswap tag descriptor ...
  name: Sushiswap
- description: UniswapV2 tag descriptor ...
  name: UniswapV2
- description: UniswapV3 tag descriptor ...
  name: UniswapV3
- description: Curve tag descriptor ...
  name: Curve
- description: Cow tag descriptor ...
  name: Cow
- description: Dex tag descriptor ...
  name: Dex
paths:
  /dapps/sushiswap/pools/current:
    get:
      description: GetPools (current)
      operationId: Sushiswap-GetPools-current
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
          description: successful operation
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/sushiswap/swaps/current:
    get:
      description: GetSwaps (current)
      operationId: Sushiswap-GetSwaps-current
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
          description: successful operation
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/sushiswap/tokens/current:
    get:
      description: GetTokens (current)
      operationId: Sushiswap-GetTokens-current
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
          description: successful operation
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/sushiswap/pools/historical:
    get:
      description: GetPools (historical)
      operationId: Sushiswap-GetPools-historical
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
          description: successful operation
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/sushiswap/swaps/historical:
    get:
      description: GetSwaps (historical)
      operationId: Sushiswap-GetSwaps-historical
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
          description: successful operation
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/sushiswap/tokens/historical:
    get:
      description: GetTokens (historical)
      operationId: Sushiswap-GetTokens-historical
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
          description: successful operation
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/curve/accounts/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/addLiquidityEvent/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/adminFeeChangeLog/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/amplificationCoeffChangeLog/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/dex/batch/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/uniswapv3/bundle/current:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BundleV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BundleV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BundleV3DTO'
                type: array
          description: successful operation
      summary: GetBundles
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/bundles/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/bundles/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/bundles/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/burns/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/burns/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/burns/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/burns/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BurnV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BurnV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BurnV3DTO'
                type: array
          description: successful operation
      summary: GetBurns
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/curve/coins/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/contracts/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/contractsVersion/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/dailyVolume/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/sushiswap/dayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/dex/tokens/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/uniswapv3/factory/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/factory/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/factory/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/factory/current:
    get:
      parameters:
      - explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.FactoryV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.FactoryV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.FactoryV3DTO'
                type: array
          description: successful operation
      summary: GetFactory
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/curve/feeChangeLog/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gauge/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeDeposit/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeLiquidity/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeTotalWeight/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeType/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeTypeWeight/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeWeight/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeWeightVote/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/gaugeWithdraw/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/sushiswap/hourData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/curve/hourlyVolume/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/uniswapv2/liquidityPosition/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/liquidityPosition/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv2/liquidityPositionSnapshots/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/liquidityPositionSnapshots/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/curve/lpToken/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/uniswapv3/mints/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/mints/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/mints/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/mints/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.MintV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.MintV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.MintV3DTO'
                type: array
          description: successful operation
      summary: GetMints
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/dex/orders/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/cow/orders/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Cow
      x-accepts: application/json
  /dapps/uniswapv3/poolDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/poolDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/poolDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/poolHourData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/poolHourData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/poolHourData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/pools/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/pools/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/curve/pools/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/uniswapv3/pools/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolV3DTO'
                type: array
          description: successful operation
      summary: GetPools
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/pools/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairV2DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairV2DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairV2DTO'
                type: array
          description: successful operation
      summary: GetPools
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/uniswapv3/poolsDayData/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolDayDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolDayDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolDayDataV3DTO'
                type: array
          description: successful operation
      summary: GetPoolsDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/poolsHourData/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolHourDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolHourDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolHourDataV3DTO'
                type: array
          description: successful operation
      summary: GetPoolsHourData
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/positions/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/positions/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PositionV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PositionV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PositionV3DTO'
                type: array
          description: successful operation
      summary: GetPositions
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/positionSnapshot/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/positionSnapshots/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PositionSnapshotV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PositionSnapshotV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PositionSnapshotV3DTO'
                type: array
          description: successful operation
      summary: GetPositionSnapshot
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/dex/prices/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/curve/proposals/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/proposalsVote/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/removeLiquidityEvent/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/curve/removeLiquidityOneEvent/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/cow/settlement/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Cow
      x-accepts: application/json
  /dapps/dex/solution/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/dex/stats/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/uniswapv3/swaps/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/swaps/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/curve/swaps/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/uniswapv3/swaps/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.SwapV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.SwapV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.SwapV3DTO'
                type: array
          description: successful operation
      summary: GetSwaps
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/swaps/current:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.SwapV2DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.SwapV2DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.SwapV2DTO'
                type: array
          description: successful operation
      summary: GetSwaps
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/curve/systemState/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/uniswapv3/tickDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/ticks/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: poolId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/ticks/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TickV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TickV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TickV3DTO'
                type: array
          description: successful operation
      summary: GetTicks
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/ticksDayData/current:
    get:
      parameters:
      - description: Filter pool id
        explode: true
        in: query
        name: filter_pool_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TickDayDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TickDayDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TickDayDataV3DTO'
                type: array
          description: successful operation
      summary: GetTicksDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/tokenDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/tokenDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/sushiswap/tokenDayData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Sushiswap
      x-accepts: application/json
  /dapps/uniswapv3/tokenHourData/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/tokens/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/tokens/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/curve/tokens/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Curve
      x-accepts: application/json
  /dapps/cow/tokens/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: tokenId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Cow
      x-accepts: application/json
  /dapps/uniswapv3/tokens/current:
    get:
      parameters:
      - explode: true
        in: query
        name: filter_token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenV3DTO'
                type: array
          description: successful operation
      summary: GetTokens
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv2/tokens/current:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenV2DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenV2DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenV2DTO'
                type: array
          description: successful operation
      summary: GetTokens
      tags:
      - UniswapV2
      x-accepts: application/json
  /dapps/uniswapv3/tokensDayData/current:
    get:
      parameters:
      - explode: true
        in: query
        name: filter_token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenV3DayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenV3DayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenV3DayDataDTO'
                type: array
          description: successful operation
      summary: GetTokensDayData
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/uniswapv3/tokensHourData/current:
    get:
      parameters:
      - explode: true
        in: query
        name: filter_token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenHourDataV3DTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenHourDataV3DTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.TokenHourDataV3DTO'
                type: array
          description: successful operation
      summary: GetTokensHourData
      tags:
      - UniswapV3
      x-accepts: application/json
  /dapps/dex/trades/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Dex
      x-accepts: application/json
  /dapps/cow/trades/historical:
    get:
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
[...]
