=begin
#OnChain API

# This section will provide necessary information about the `OnChain API` protocol.  <br/><br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                             

The version of the OpenAPI document: v1
Contact: support@coinapi.io
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.0

=end

require 'cgi'

module OpenapiClient
  class SushiswapApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # GetPools
    # Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    # @param chain_id [String] Chain id
    # @param [Hash] opts the optional parameters
    # @return [Array<PairDTO>]
    def chains_chain_id_dapps_sushiswap_pools_current_get(chain_id, opts = {})
      data, _status_code, _headers = chains_chain_id_dapps_sushiswap_pools_current_get_with_http_info(chain_id, opts)
      data
    end

    # GetPools
    # Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s.
    # @param chain_id [String] Chain id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PairDTO>, Integer, Hash)>] Array<PairDTO> data, response status code and response headers
    def chains_chain_id_dapps_sushiswap_pools_current_get_with_http_info(chain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SushiswapApi.chains_chain_id_dapps_sushiswap_pools_current_get ...'
      end
      # verify the required parameter 'chain_id' is set
      if @api_client.config.client_side_validation && chain_id.nil?
        fail ArgumentError, "Missing the required parameter 'chain_id' when calling SushiswapApi.chains_chain_id_dapps_sushiswap_pools_current_get"
      end
      # resource path
      local_var_path = '/chains/{chain_id}/dapps/sushiswap/pools/current'.sub('{' + 'chain_id' + '}', CGI.escape(chain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PairDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SushiswapApi.chains_chain_id_dapps_sushiswap_pools_current_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SushiswapApi#chains_chain_id_dapps_sushiswap_pools_current_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GetSwaps
    # @param chain_id [String] Chain id
    # @param [Hash] opts the optional parameters
    # @return [Array<SwapDTO>]
    def chains_chain_id_dapps_sushiswap_swaps_current_get(chain_id, opts = {})
      data, _status_code, _headers = chains_chain_id_dapps_sushiswap_swaps_current_get_with_http_info(chain_id, opts)
      data
    end

    # GetSwaps
    # @param chain_id [String] Chain id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SwapDTO>, Integer, Hash)>] Array<SwapDTO> data, response status code and response headers
    def chains_chain_id_dapps_sushiswap_swaps_current_get_with_http_info(chain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SushiswapApi.chains_chain_id_dapps_sushiswap_swaps_current_get ...'
      end
      # verify the required parameter 'chain_id' is set
      if @api_client.config.client_side_validation && chain_id.nil?
        fail ArgumentError, "Missing the required parameter 'chain_id' when calling SushiswapApi.chains_chain_id_dapps_sushiswap_swaps_current_get"
      end
      # resource path
      local_var_path = '/chains/{chain_id}/dapps/sushiswap/swaps/current'.sub('{' + 'chain_id' + '}', CGI.escape(chain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SwapDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SushiswapApi.chains_chain_id_dapps_sushiswap_swaps_current_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SushiswapApi#chains_chain_id_dapps_sushiswap_swaps_current_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GetTokens
    # @param chain_id [String] Chain id
    # @param [Hash] opts the optional parameters
    # @return [Array<TokenDTO>]
    def chains_chain_id_dapps_sushiswap_tokens_current_get(chain_id, opts = {})
      data, _status_code, _headers = chains_chain_id_dapps_sushiswap_tokens_current_get_with_http_info(chain_id, opts)
      data
    end

    # GetTokens
    # @param chain_id [String] Chain id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TokenDTO>, Integer, Hash)>] Array<TokenDTO> data, response status code and response headers
    def chains_chain_id_dapps_sushiswap_tokens_current_get_with_http_info(chain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SushiswapApi.chains_chain_id_dapps_sushiswap_tokens_current_get ...'
      end
      # verify the required parameter 'chain_id' is set
      if @api_client.config.client_side_validation && chain_id.nil?
        fail ArgumentError, "Missing the required parameter 'chain_id' when calling SushiswapApi.chains_chain_id_dapps_sushiswap_tokens_current_get"
      end
      # resource path
      local_var_path = '/chains/{chain_id}/dapps/sushiswap/tokens/current'.sub('{' + 'chain_id' + '}', CGI.escape(chain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TokenDTO>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SushiswapApi.chains_chain_id_dapps_sushiswap_tokens_current_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SushiswapApi#chains_chain_id_dapps_sushiswap_tokens_current_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
