openapi: 3.0.1
info:
  contact:
    email: support@coinapi.io
    name: COINAPI LTD
    url: https://www.coinapi.io
  description: "\nThis section will provide necessary information about the `OnChain\
    \ API` protocol. \n<br/><br/>\nLorem Ipsum is simply dummy text of the printing\
    \ and typesetting industry. Lorem Ipsum has been the industry's standard dummy\
    \ text ever since the 1500s, when an unknown printer took a galley of type and\
    \ scrambled it to make a type specimen book. It has survived not only five centuries,\
    \ but also the leap into electronic typesetting, remaining essentially unchanged.\
    \ It was popularised in the 1960s with the release of Letraset sheets containing\
    \ Lorem Ipsum passages, and more recently with desktop publishing software like\
    \ Aldus PageMaker including versions of Lorem Ipsum.        \n               \
    \     "
  license:
    name: MIT License
    url: https://github.com/coinapi/coinapi-sdk/blob/master/LICENSE
  title: OnChain API
  version: v1
servers:
- url: https://onchain.coinapi.io
tags:
- description: Sushiswap tag descriptor ...
  name: Sushiswap
- description: UniswapV2 tag descriptor ...
  name: UniswapV2
- description: UniswapV3 tag descriptor ...
  name: UniswapV3
- description: Curve tag descriptor ...
  name: Curve
- description: Cow tag descriptor ...
  name: Cow
- description: Dex tag descriptor ...
  name: Dex
paths:
  /dapps/cow/orders/historical:
    get:
      description: Gets orders.
      operationId: Cow.GetOrders (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: User's address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
          description: successful operation
      summary: Orders (historical)
      tags:
      - Cow
  /dapps/cow/orders/current:
    get:
      description: Gets orders.
      operationId: Cow.Orders (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
          description: successful operation
      summary: Orders (current)
      tags:
      - Cow
  /dapps/cow/settlements/historical:
    get:
      description: Gets settlements.
      operationId: Cow.GetSettlements (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Transaction hash.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
          description: successful operation
      summary: Settlements (historical)
      tags:
      - Cow
  /dapps/cow/settlements/current:
    get:
      description: Gets settlements.
      operationId: Cow.Settlements (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
          description: successful operation
      summary: Settlements (current)
      tags:
      - Cow
  /dapps/cow/tokens/historical:
    get:
      description: Gets tokens.
      operationId: Cow.GetTokens (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Token's address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Token's address.
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Token name fetched by ERC20 contract call.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Token symbol fetched by contract call.
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (historical)
      tags:
      - Cow
  /dapps/cow/tokens/current:
    get:
      description: Gets tokens.
      operationId: Cow.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - Cow
  /dapps/cow/trades/historical:
    get:
      description: Gets trades.
      operationId: Cow.GetTrades (historical)
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sell_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: buy_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
          description: successful operation
      summary: Trades (historical)
      tags:
      - Cow
  /dapps/cow/trades/current:
    get:
      description: Gets trades.
      operationId: Cow.Trades (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
          description: successful operation
      summary: Trades (current)
      tags:
      - Cow
  /dapps/cow/users/historical:
    get:
      description: Gets users.
      operationId: Cow.GetUsers (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: User's address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: User's address.
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
          description: successful operation
      summary: Users (historical)
      tags:
      - Cow
  /dapps/cow/users/current:
    get:
      description: Gets users.
      operationId: Cow.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - Cow
  /dapps/curve/accounts/historical:
    get:
      description: Gets accounts.
      operationId: Curve.GetAccounts (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
          description: successful operation
      summary: Accounts (historical)
      tags:
      - Curve
  /dapps/curve/accounts/current:
    get:
      description: Gets accounts.
      operationId: Curve.Accounts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
          description: successful operation
      summary: Accounts (current)
      tags:
      - Curve
  /dapps/curve/addLiquidityEvents/historical:
    get:
      description: Gets addLiquidityEvents.
      operationId: Curve.GetAddLiquidityEvents (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
          description: successful operation
      summary: AddLiquidityEvents (historical)
      tags:
      - Curve
  /dapps/curve/addLiquidityEvents/current:
    get:
      description: Gets addLiquidityEvents.
      operationId: Curve.AddLiquidityEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
          description: successful operation
      summary: AddLiquidityEvents (current)
      tags:
      - Curve
  /dapps/curve/adminFeeChangeLogs/historical:
    get:
      description: Gets adminFeeChangeLogs.
      operationId: Curve.GetAdminFeeChangeLogs (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
          description: successful operation
      summary: AdminFeeChangeLogs (historical)
      tags:
      - Curve
  /dapps/curve/adminFeeChangeLogs/current:
    get:
      description: Gets adminFeeChangeLogs.
      operationId: Curve.AdminFeeChangeLogs (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
          description: successful operation
      summary: AdminFeeChangeLogs (current)
      tags:
      - Curve
  /dapps/curve/amplificationCoeffChangeLogs/historical:
    get:
      description: Gets amplificationCoeffChangeLogs.
      operationId: Curve.GetAmplificationCoeffChangeLogs (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
          description: successful operation
      summary: AmplificationCoeffChangeLogs (historical)
      tags:
      - Curve
  /dapps/curve/amplificationCoeffChangeLogs/current:
    get:
      description: Gets amplificationCoeffChangeLogs.
      operationId: Curve.AmplificationCoeffChangeLogs (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
          description: successful operation
      summary: AmplificationCoeffChangeLogs (current)
      tags:
      - Curve
  /dapps/curve/coins/historical:
    get:
      description: Gets coins.
      operationId: Curve.GetCoins (historical)
      parameters:
      - explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
          description: successful operation
      summary: Coins (historical)
      tags:
      - Curve
  /dapps/curve/coins/current:
    get:
      description: Gets coins.
      operationId: Curve.Coins (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
          description: successful operation
      summary: Coins (current)
      tags:
      - Curve
  /dapps/curve/contracts/historical:
    get:
      description: Gets contracts.
      operationId: Curve.GetContracts (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
          description: successful operation
      summary: Contracts (historical)
      tags:
      - Curve
  /dapps/curve/contracts/current:
    get:
      description: Gets contracts.
      operationId: Curve.Contracts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
          description: successful operation
      summary: Contracts (current)
      tags:
      - Curve
  /dapps/curve/contractVersions/historical:
    get:
      description: Gets contractVersions.
      operationId: Curve.GetContractVersions (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
          description: successful operation
      summary: ContractVersions (historical)
      tags:
      - Curve
  /dapps/curve/contractVersions/current:
    get:
      description: Gets contractVersions.
      operationId: Curve.ContractVersions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
          description: successful operation
      summary: ContractVersions (current)
      tags:
      - Curve
  /dapps/curve/dailyVolumes/historical:
    get:
      description: Gets dailyVolumes.
      operationId: Curve.GetDailyVolumes (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
          description: successful operation
      summary: DailyVolumes (historical)
      tags:
      - Curve
  /dapps/curve/dailyVolumes/current:
    get:
      description: Gets dailyVolumes.
      operationId: Curve.DailyVolumes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
          description: successful operation
      summary: DailyVolumes (current)
      tags:
      - Curve
  /dapps/curve/exchanges/historical:
    get:
      description: Gets exchanges.
      operationId: Curve.GetExchanges (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
          description: successful operation
      summary: Exchanges (historical)
      tags:
      - Curve
  /dapps/curve/exchanges/current:
    get:
      description: Gets exchanges.
      operationId: Curve.Exchanges (current)
      parameters:
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
          description: successful operation
      summary: Exchanges (current)
      tags:
      - Curve
  /dapps/curve/feeChangeLogs/historical:
    get:
      description: Gets feeChangeLogs.
      operationId: Curve.GetFeeChangeLogs (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
          description: successful operation
      summary: FeeChangeLogs (historical)
      tags:
      - Curve
  /dapps/curve/feeChangeLogs/current:
    get:
      description: Gets feeChangeLogs.
      operationId: Curve.FeeChangeLogs (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
          description: successful operation
      summary: FeeChangeLogs (current)
      tags:
      - Curve
  /dapps/curve/gaugeDeposits/historical:
    get:
      description: Gets gaugeDeposits.
      operationId: Curve.GetGaugeDeposits (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
          description: successful operation
      summary: GaugeDeposits (historical)
      tags:
      - Curve
  /dapps/curve/gaugeDeposits/current:
    get:
      description: Gets gaugeDeposits.
      operationId: Curve.GaugeDeposits (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
          description: successful operation
      summary: GaugeDeposits (current)
      tags:
      - Curve
  /dapps/curve/gauges/historical:
    get:
      description: Gets gauges.
      operationId: Curve.GetGauges (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
          description: successful operation
      summary: Gauges (historical)
      tags:
      - Curve
  /dapps/curve/gauges/current:
    get:
      description: Gets gauges.
      operationId: Curve.Gauges (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
          description: successful operation
      summary: Gauges (current)
      tags:
      - Curve
  /dapps/curve/gaugeLiquiditys/historical:
    get:
      description: Gets gaugeLiquiditys.
      operationId: Curve.GetGaugeLiquiditys (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
          description: successful operation
      summary: GaugeLiquiditys (historical)
      tags:
      - Curve
  /dapps/curve/gaugeLiquiditys/current:
    get:
      description: Gets gaugeLiquiditys.
      operationId: Curve.GaugeLiquiditys (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
          description: successful operation
      summary: GaugeLiquiditys (current)
      tags:
      - Curve
  /dapps/curve/gaugeTotalWeights/historical:
    get:
      description: Gets gaugeTotalWeights.
      operationId: Curve.GetGaugeTotalWeights (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
          description: successful operation
      summary: GaugeTotalWeights (historical)
      tags:
      - Curve
  /dapps/curve/gaugeTotalWeights/current:
    get:
      description: Gets gaugeTotalWeights.
      operationId: Curve.GaugeTotalWeights (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
          description: successful operation
      summary: GaugeTotalWeights (current)
      tags:
      - Curve
  /dapps/curve/gaugeTypes/historical:
    get:
      description: Gets gaugeTypes.
      operationId: Curve.GetGaugeTypes (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
          description: successful operation
      summary: GaugeTypes (historical)
      tags:
      - Curve
  /dapps/curve/gaugeTypes/current:
    get:
      description: Gets gaugeTypes.
      operationId: Curve.GaugeTypes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
          description: successful operation
      summary: GaugeTypes (current)
      tags:
      - Curve
  /dapps/curve/gaugeTypeWeights/historical:
    get:
      description: Gets gaugeTypeWeights.
      operationId: Curve.GetGaugeTypeWeights (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
          description: successful operation
      summary: GaugeTypeWeights (historical)
      tags:
      - Curve
  /dapps/curve/gaugeTypeWeights/current:
    get:
      description: Gets gaugeTypeWeights.
      operationId: Curve.GaugeTypeWeights (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
          description: successful operation
      summary: GaugeTypeWeights (current)
      tags:
      - Curve
  /dapps/curve/gaugeWeights/historical:
    get:
      description: Gets gaugeWeights.
      operationId: Curve.GetGaugeWeights (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
          description: successful operation
      summary: GaugeWeights (historical)
      tags:
      - Curve
  /dapps/curve/gaugeWeights/current:
    get:
      description: Gets gaugeWeights.
      operationId: Curve.GaugeWeights (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
          description: successful operation
      summary: GaugeWeights (current)
      tags:
      - Curve
  /dapps/curve/gaugeWeightVotes/historical:
    get:
      description: Gets gaugeWeightVotes.
      operationId: Curve.GetGaugeWeightVotes (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
          description: successful operation
      summary: GaugeWeightVotes (historical)
      tags:
      - Curve
  /dapps/curve/gaugeWeightVotes/current:
    get:
      description: Gets gaugeWeightVotes.
      operationId: Curve.GaugeWeightVotes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
          description: successful operation
      summary: GaugeWeightVotes (current)
      tags:
      - Curve
  /dapps/curve/gaugeWithdraws/historical:
    get:
      description: Gets gaugeWithdraws.
      operationId: Curve.GetGaugeWithdraws (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
          description: successful operation
      summary: GaugeWithdraws (historical)
      tags:
      - Curve
  /dapps/curve/gaugeWithdraws/current:
    get:
      description: Gets gaugeWithdraws.
      operationId: Curve.GaugeWithdraws (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
          description: successful operation
      summary: GaugeWithdraws (current)
      tags:
      - Curve
  /dapps/curve/hourlyVolumes/historical:
    get:
      description: Gets hourlyVolumes.
      operationId: Curve.GetHourlyVolumes (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
          description: successful operation
      summary: HourlyVolumes (historical)
      tags:
      - Curve
  /dapps/curve/hourlyVolumes/current:
    get:
      description: Gets hourlyVolumes.
      operationId: Curve.HourlyVolumes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
          description: successful operation
      summary: HourlyVolumes (current)
      tags:
      - Curve
  /dapps/curve/lpTokens/historical:
    get:
      description: Gets lpTokens.
      operationId: Curve.GetLpTokens (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
          description: successful operation
      summary: LpTokens (historical)
      tags:
      - Curve
  /dapps/curve/lpTokens/current:
    get:
      description: Gets lpTokens.
      operationId: Curve.LpTokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
          description: successful operation
      summary: LpTokens (current)
      tags:
      - Curve
  /dapps/curve/pools/historical:
    get:
      description: Gets pools.
      operationId: Curve.GetPools (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Pool address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Pool's human-readable name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
          description: successful operation
      summary: Pools (historical)
      tags:
      - Curve
  /dapps/curve/pools/current:
    get:
      description: Gets pools.
      operationId: Curve.Pools (current)
      parameters:
      - description: Pool address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
          description: successful operation
      summary: Pools (current)
      tags:
      - Curve
  /dapps/curve/proposals/historical:
    get:
      description: Gets proposals.
      operationId: Curve.GetProposals (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
          description: successful operation
      summary: Proposals (historical)
      tags:
      - Curve
  /dapps/curve/proposals/current:
    get:
      description: Gets proposals.
      operationId: Curve.Proposals (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
          description: successful operation
      summary: Proposals (current)
      tags:
      - Curve
  /dapps/curve/proposalVotes/historical:
    get:
      description: Gets proposalVotes.
      operationId: Curve.GetProposalVotes (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
          description: successful operation
      summary: ProposalVotes (historical)
      tags:
      - Curve
  /dapps/curve/proposalVotes/current:
    get:
      description: Gets proposalVotes.
      operationId: Curve.ProposalVotes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
          description: successful operation
      summary: ProposalVotes (current)
      tags:
      - Curve
  /dapps/curve/removeLiquidityEvents/historical:
    get:
      description: Gets removeLiquidityEvents.
      operationId: Curve.GetRemoveLiquidityEvents (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
          description: successful operation
      summary: RemoveLiquidityEvents (historical)
      tags:
      - Curve
  /dapps/curve/removeLiquidityEvents/current:
    get:
      description: Gets removeLiquidityEvents.
      operationId: Curve.RemoveLiquidityEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
          description: successful operation
      summary: RemoveLiquidityEvents (current)
      tags:
      - Curve
  /dapps/curve/removeLiquidityOneEvents/historical:
    get:
      description: Gets removeLiquidityOneEvents.
      operationId: Curve.GetRemoveLiquidityOneEvents (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
          description: successful operation
      summary: RemoveLiquidityOneEvents (historical)
      tags:
      - Curve
  /dapps/curve/removeLiquidityOneEvents/current:
    get:
      description: Gets removeLiquidityOneEvents.
      operationId: Curve.RemoveLiquidityOneEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
          description: successful operation
      summary: RemoveLiquidityOneEvents (current)
      tags:
      - Curve
  /dapps/curve/systemStates/historical:
    get:
      description: Gets systemStates.
      operationId: Curve.GetSystemStates (historical)
      parameters:
      - description: "The start block. If endblock is not given, only those entities\
          \ will be included that were exactly created in startBlock."
        explode: true
        in: query
        name: startBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The end block. Useful to filter data in range of blocks (FROM
          startBlock TO endBlock).
        explode: true
        in: query
        name: endBlock
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The start date of timeframe. If endDate is not given, entities\
          \ created FROM startDate TO startDate plus 24 hours will be included."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of timeframe.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Singleton ID, equals to 'current'."
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
          description: successful operation
      summary: SystemStates (historical)
      tags:
      - Curve
  /dapps/curve/systemStates/current:
    get:
      description: Gets systemStates.
      operationId: Curve.SystemStates (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
[...]
