name: Publish csharp-rest package
on:
  release:
    types: [created]
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: data-api/csharp-rest
    steps:
      - uses: actions/checkout@v2
        
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
          
      - name: Dotnet restore
        run: dotnet restore 
      
      - name: Dotnet build
        run: dotnet build 
        
      - name: Publish Nuget
        run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_APIKEY }} --source https://api.nuget.org/v3/index.json || exit 0

      - name: Publish GitHub Packages
        run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/coinapi/index.json || exit 0